.header {
  position: relative;
  color: #fff;
  height: 45vh;
  padding: 3rem 10rem;
  background-image: linear-gradient(
      to left,
      rgba(99, 96, 139, 0.9) 30%,
      rgba(41, 39, 51, 0.5)
    ),
    url('/images/header-background.jpg');
  background-size: cover;
  border-bottom: 5px solid var(--color-cyan-100);

  display: flex;
  justify-content: space-between;
}

.main {
  transform: translateY(-15rem);
  margin: 0 auto;
  margin: 0 5rem;
}

.title {
  font-size: var(--font-size-20);
  color: var(--color-cyan-30);
  font-weight: 700;
}
